@font-face {
  font-family: pattaya;
  src: url(../fonts/Pattaya-Regular.ttf);
  font-style: normal;
  font-variant: initial;
}

@font-face {
  font-family: serithai;
  src: url(../fonts/Serithai-Regular.ttf);
  font-style: normal;
  font-variant: initial;
}

@font-face {
  font-family: charm-Bold;
  src: url(../fonts/Charm-Bold.ttf);
  font-style: normal;
  font-variant: initial;
}

@font-face {
  font-family: charm-Regular;
  src: url(../fonts/Charm-Regular.ttf);
  font-style: normal;
  font-variant: initial;
}

@font-face {
  font-family: lucidat;
  src: url(../fonts/Lucida.ttf);
  font-style: normal;
  font-variant: initial;
}

/*
html {
  scroll-behavior: smooth;
}*/

.none-pad {
  padding: 0px 0px 0px 0px !important;
}

.navbar-collapse .nav .nav-item:nth-child(1) img {
  width: 50px;
  margin-top: 5px;
}

.navbar-collapse .nav .nav-item:nth-child(2) img {
  width: 40px;
  margin-top: 0px;
}

.main1 .container .col.m .row {
  margin-left: 0px !important;
}

.num-dov {
  color: #690360;
  font-family: serithai;
  font-size: 14px;
}

.tag div {
  display: inline-block;
  margin-top: 5px !important;
}

@media only screen and (max-width: 991px) {
  /* MOBILE */
  .main-art .tag a {
    padding: 0px 0px !important;
  }
  .main-art .tag a {
    padding: 0px 0px !important;
  }
  .modal-dialog.modal-xl .close {
    margin-top: 15px;
  }
  .none-x {
    padding: 0px 0px 0px 0px !important;
  }
  .x-30 {
    margin-left: 30px;
  }
  .xl-30 {
    margin-left: -30px;
  }
  .x-15 {
    margin-left: 15px;
  }
  .xl-15 {
    margin-left: -15px;
  }
  .navbar-brand img {
    width: 40px;
    height: 40px;
    padding: 5px;
    z-index: 99 !important;
  }
  .navbar {
    padding: 0px;
  }
  .mb-nav {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .mb-nav div {
    float: right;
    margin-left: 0px;
    padding-right: 0px;
  }
  .mb-nav div a img.i1 {
    height: 45px;
    margin-top: 5px;
  }
  .mb-nav div a img.i2 {
    height: 32px;
    margin-top: 10px;
  }
  .switch-field {
    display: flex;
    margin-bottom: 36px;
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
    width: 80px;
  }
  .bgxx {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
  }
  .bgart {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }
  .top1 .m-top img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mb-x {
    display: none;
  }
  .top1 .m-top {
    border: 5px solid rgb(242, 191, 112, .7);
    min-height: 25vh;
    margin-top: 40px;
  }
  .tap {
    display: none;
    background-color: #FFEACB;
  }
  .tap .cox {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .xdel-top {
    display: block;
    margin-top: -50px !important;
  }
  .tap h4 {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 78%;
    color: #fff;
    font-size: 16px;
  }
  .tap h4 a {
    color: #fff;
  }
  .svg-set {
    display: none;
  }
  footer {
    height: 67px;
    width: 100%;
    background-color: #2B0026;
  }
  .top1 h1 {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2BF70;
    font-size: 20px;
    text-align: center;
  }
  .main-art .maina p {
    color: #350230;
    font-size: 16px;
    font-family: serithai;
    line-height: 30px;
  }
  .department .hex.gradient-border {
    color: #411C3D;
    font-size: 14px;
  }
  .modal .hex.gradient-border {
    color: #411C3D;
    font-size: 14px;
  }
  .tap2 .cox {
    margin-top: 0px;
  }
  .tap2 .active {
    margin-top: -15px;
  }
  .department .set-menu ul li {
    line-height: 45px;
    float: left;
    width: 50%;
    font-family: pattaya;
  }
  .department .set-menu ul li div.active {
    color: #411C3D;
    text-decoration: underline;
  }
  .department .set-menu ul li div.active:after {
    content: url('../images/133.png');
  }
  .department .set-menu ul li div.active:before {
    content: url('../images/133.png');
  }
  .department .set-menu ul li div {
    color: #411C3D;
    background-color: transparent;
    border: 2px solid transparent;
    width: 100%;
    cursor: pointer;
  }
  .department .set-menu ul li div:hover {
    color: #411C3D;
  }
  .col-none {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .tap2 h4 a {
    color: #fff;
    font-size: 14px;
  }
  .tap2 h4 {
    position: absolute;
    top: 0%;
    text-align: center;
    width: 78%;
    color: #fff;
    margin-top: 45px;
    font-size: 14px;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
  }
  .tap h4 a {
    color: #fff;
    font-size: 16px;
    font-family: pattaya;
  }
  .col .m-top img {
    width: 80%;
  }
  .tap2 .active h4 {
    position: absolute;
    top: 0%;
    text-align: center;
    color: #fff;
    margin-top: -10px;
    margin-top: 0px;
  }
  .for-es {
    margin-top: 25px !important;
    line-height: 18px;
  }
  .tag a {
    padding: 0px 0px !important;
    background-color: #F2BF70;
    border: 2px solid #690360;
    font-size: 15px;
    color: #411C3D;
    font-family: pattaya;
    overflow: hidden;
    display: inline;
  }
}

@media only screen and (min-width: 992px) {
  /* PC */
  .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .modal-dialog .tag div {
    float: right;
    margin-right: 10px;
    display: inline;
    margin-bottom: 5px;
  }
  .modal-dialog .tag a {
    padding: 3px 15px;
    display: inline;
    background-color: #F2BF70;
    border: 2px solid #690360;
    font-size: 15px;
    color: #411C3D;
    font-family: pattaya;
    overflow: hidden;
  }
  .none-xl {
    padding: 0px 0px 0px 0px !important;
  }
  .switch-field {
    display: flex;
    /*margin-bottom: 36px;*/
    overflow: hidden;
    margin-top: 8px;
    margin-left: 30px;
    width: 200px;
    z-index: 999 !important;
    cursor: pointer;
  }
  .mb-nav {
    display: none;
  }
  .tap2 h4 {
    position: absolute;
    top: 32%;
    text-align: center;
    width: 88%;
    color: #fff;
  }
  footer {
    height: 200px;
    width: 100%;
    background-color: #2B0026;
  }
  .bgart {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }
  .bgxx {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
  }
  .top1 .m-top img {
    min-height: 70vh;
  }
  .top1 .m-top {
    border: 10px solid rgb(242, 191, 112, .7);
    min-height: 75vh;
  }
  .pc-x {
    display: none;
  }
  .pc-x2 {
    display: block;
  }
  .tap .cox {
    margin-top: -125px;
  }
  .tap h4 {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 88%;
    color: #fff;
  }
  .tap h4 a {
    color: #fff;
  }
  .top1 h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2BF70;
    font-size: 60px;
  }
  .main-art .maina p {
    color: #350230;
    font-size: 20px;
    line-height: 40px;
    font-family: serithai;
  }
  .department .hex.gradient-border {
    color: #411C3D;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .modal .hex.gradient-border {
    color: #411C3D;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .tap2 .cox {
    margin-top: -100px;
  }
  .tap2 .active {
    margin-top: -125px;
  }
  .department .set-menu ul li div.active {
    color: #411C3D;
    background-color: #F2BF70;
    border: 2px solid #690360;
    padding: 0px 25px 0px 55px;
  }
  .department .set-menu ul li div.active:after {
    content: url('../images/134.png');
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top: 5px;
  }
  .department .set-menu ul li div.active:before {
    content: url('../images/134.png');
    position: absolute;
    left: 0;
    margin-left: 80px;
    margin-top: 5px;
  }
  .department .set-menu ul li div {
    color: #411C3D;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0px 25px 0px 55px;
    width: 100%;
    font-family: pattaya;
    cursor: pointer;
  }
  .department .set-menu ul li div:hover {
    color: #411C3D;
    background-color: #F2BF70;
    border: 2px solid #690360;
    padding: 0px 25px 0px 55px;
    text-decoration: none;
  }
  .tap2 h4 a {
    color: #fff;
    font-size: 18px;
  }
  .tap h4 a {
    font-size: 1.5rem;
  }
  .main1 .container .col.m .row .col-lg-4 {
    display: none;
  }
  .main1 .container .col.m .row .col-lg-4:nth-child(1) {
    display: block;
  }
  .main1 .container .col.m .row .col-lg-4:nth-child(2) {
    display: block;
  }
  .main1 .container .col.m .row .col-lg-4:nth-child(3) {
    display: block;
  }
}

.htop .container-fluid {
  background-color: #2B0026;
}

.htop .navbar-light .nav-item .nav-link {
  font-size: 32px !important;
  margin-left: 30px;
  font-family: charm-Bold;
}

.top1 .m1 {
  padding: 30px;
}

.tap2 .active img {
  width: 100%;
}

.tap2 img {
  width: 100%;
  cursor: pointer;
}

.tap2 img {
  width: 80%;
}

.tap2 .active h4 {
  position: absolute;
  top: 38%;
  text-align: center;
  color: #fff;
}

/*.tap :nth-child(1) h4{
  margin-top: 5px;
}
.tap :nth-child(2) h4{
  margin-top: 5px;
}
.tap :nth-child(3) h4{
  margin-top: -5px;
}
.tap :nth-child(4) h4{
  margin-top: -15px;
}*/

.tap2 .tf h4 {
  top: 23%;
}

.tap h4 a {
  color: #fff;
  font-family: pattaya;
}

.tap2 h4 {
  font-family: pattaya;
}

/*.tap2 h4:nth-child(1) {
  margin-top: -5px;
}
.tap2 h4:nth-child(2) {
  margin-top: 5px;
}
.tap2 h4:nth-child(3) {
  margin-top: -15px !important;
}
.tap2 h4:nth-child(4) {
  margin-top: 5px;
}*/

.tap2 h4 a:hover {
  text-decoration: none;
  color: #fff;
}

.border-high {
  height: 430px !important;
}

.tap h4 a:hover {
  text-decoration: none;
  color: #fff;
}

.main1 .xcod h3 {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #F2BF70;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.main1 .xcod h3 span {
  background: #fff;
  padding: 0 30px;
  font-size: 1.75rem;
  font-family: pattaya;
}

.main1 .m .img-div {
  border: 3px solid #690360;
  background-color: rgb(105, 3, 96, .05);
  padding-top: 15px;
  padding-bottom: 15px;
}

.main1 .m .text-div .inde {
  border: 3px solid #690360 !important;
  border-top: 0px solid #690360 !important;
  margin-top: 15px !important;
  padding-top: 15px !important;
  height: 270px !important;
  padding-bottom: 15px !important;
}

.main1 .m .text-div h3 {
  color: #2B0026;
  text-align: center;
  margin-bottom: 15px;
  font-family: pattaya;
}

.main1 .m .text-div p {
  color: #2B0026;
  font-family: serithai;
  line-height: 30px;
}

.main1 a {
  color: #A5531B;
  text-align: right;
  font-family: pattaya;
}

.main1 a:hover {
  color: #2B0026;
  text-decoration: none;
}

.main1 .m .video-div {
  border: 3px solid #690360;
  background-color: rgb(105, 3, 96, .05);
  padding-top: 15px;
  height: 440px;
  padding-bottom: 15px;
}

.main1 .m .bot-div {
  margin-top: 5px;
  border-top: 1px solid #F2BF70;
  font-family: serithai;
}

.main1 .m .bot-div a {
  margin-right: 15px;
}

.main1 .m .bot-div h6 {
  margin-top: 15px;
  text-decoration: underline;
  color: #690360;
}

.main1 .carousel-inner .col-lg-4 {
  background: #fff;
}

.main1 .m .bot-div p {
  margin-top: 15px;
  color: #690360;
}

.main1 .m .img-div2 img {
  border: 3px solid #72136A;
}

.main1 .m .img-div2 div {
  font-size: 24px;
  color: #F2BF70;
  position: absolute;
  background-color: rgba(105, 3, 96, .85);
  padding: 20px 15px;
  top: 50%;
  min-width: 70%;
  left: 50%;
  font-family: pattaya;
  cursor: default;
  transform: translate(-50%, -50%);
}

.department {
  background-color: #FFF0EA;
}

.department .set-menu ul {
  list-style-type: none;
  width: 100%;
}

.department .set-menu ul li {
  line-height: 45px;
}

.video-div {
  margin-top: 30px;
}

.video-div p {
  margin-top: 15px;
  margin-left: 10px;
  font-family: pattaya;
}

.video-div .col.tag a {
  padding: 3px 5px;
  background-color: #F2BF70;
  border: 2px solid;
  font-size: 15px;
}

.main-art {
  background-image: linear-gradient(to bottom, #690360, #680360, #680360, #67035f, #67035f, #63035b, #5e0357, #5a0353, #50034a, #470341, #3e018, #350230);
}

.main-art .maina {
  background-color: #fff;
  border: 10px solid #F2BF70;
}

.main-art .tag a {
  padding: 3px 15px;
  background-color: #F2BF70;
  border: 2px solid #690360;
  font-size: 15px;
  color: #411C3D;
  font-family: pattaya;
}

.main-art .tag a:hover {
  text-decoration: none;
}

.modal-backdrop {
  background-image: linear-gradient(to bottom, #690360, #680360, #680360, #67035f, #67035f, #63035b, #5e0357, #5a0353, #50034a, #470341, #3e0238, #350230);
  opacity: 1;
}

.modal-body h1 {
  font-size: 80px;
  color: #2B0026;
  text-align: center;
}

.modal-body .xcod h3 {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #F2BF70;
  line-height: 0.1em;
  font-size: 50px;
  margin: 10px 0 20px;
}

.modal-body .xcod h3 span {
  background: #fff;
  padding: 0 30px;
  color: #2B0026;
}

.modal-body .x {
  border: 10px solid #F2BF70;
}

.modal-body .xm {
  color: #411C3D;
  background-color: #F2BF70;
  border: 2px solid #690360;
  padding: 8px 15px;
  text-align: center;
  text-decoration: underline;
}

.modal-body .xm:after {
  content: url('../images/starth.png');
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.modal-body .xm:before {
  content: url('../images/starth.png');
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.hrx5 {
  border-top: 5px solid #F2BF70;
}

.modal-body .address a {
  margin-right: 15px;
  color: #2B0026;
}

.modal-body .address {
  font-family: serithai;
}

.modal-body .address img {
  margin-top: -4px;
}

.modal-dialog .tag a:hover {
  text-decoration: none;
}

/*.modal .tag{
  overflow: hidden;
   overflow-y: hidden;overflow-x: hidden;
}*/

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6 {
  stroke: #2B0026;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  cursor: pointer;
}

.cls-1 {
  fill: #690360;
}

.cls-2 {
  fill: #690360;
}

.cls-3 {
  fill: #690360;
}

.cls-4 {
  fill: #690360;
}

.cls-5 {
  fill: #690360;
}

.cls-6 {
  fill: #690360;
}

.cls-1.active {
  fill: #F2BF70;
}

.cls-2.active {
  fill: #F2BF70;
}

.cls-3.active {
  fill: #F2BF70;
}

.cls-4.active {
  fill: #F2BF70;
}

.cls-5.active {
  fill: #F2BF70;
}

.cls-6.active {
  fill: #F2BF70;
}

.cls-1:hover {
  fill: #F2BF70;
}

.cls-2:hover {
  fill: #F2BF70;
}

.cls-3:hover {
  fill: #F2BF70;
}

.cls-4:hover {
  fill: #F2BF70;
}

.cls-5:hover {
  fill: #F2BF70;
}

.cls-6:hover {
  fill: #F2BF70;
}

.video-wrapper {
  position: relative;
}

.video-wrapper>video {
  width: 100%;
  vertical-align: middle;
}

.video-wrapper>video.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}

.video-overlay-play-button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px calc(50% - 50px);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.95;
  cursor: pointer;
  /*background-image: linear-gradient(transparent, #000);*/
  transition: opacity 150ms;
}

.video-overlay-play-button:hover {
  opacity: 1;
}

.video-overlay-play-button.is-hidden {
  display: none;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  cursor: pointer;
}

.switch-field label {
  cursor: pointer;
  background-color: #690360;
  color: #FFF0EA;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 4px 12px 4px 50px;
  margin-right: -1px;
  border: 2px solid #F2BF70;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field {
  width: 110px;
}

.switch-field label:first-of-type {
  padding: 8px 50px 8px 12px;
}

.switch-field label:last-of-type {
  padding: 8px 12px 8px 50px;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: #FFF0EA;
  box-shadow: none;
  color: #A5531B;
  padding: 8px 12px 8px 16px;
  z-index: 999;
}

.switch-field input:checked+label:first-of-type {
  padding: 8px 12px 8px 12px;
  margin-right: -45px;
}

.switch-field input:checked+label:last-of-type {
  padding: 8px 12px 8px 12px;
  margin-left: -45px;
}

.switch-field label:first-of-type {
  border-radius: 20px;
}

.switch-field label:last-of-type {
  border-radius: 20px;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}

.directory_northeast {
  width: 170%;
}

.directory_south {
  width: 180%;
}

.directory_center {
  width: 170%;
}

.directory_north {
  width: 120%;
}

.department .hex {
  position: relative;
  font-weight: bold;
  height: 70px;
  text-align: center;
  background: #F2BF70;
  -webkit-clip-path: polygon(25px 0px, calc(100% - 25px) 0px, 100% 50%, calc(100% - 25px) 100%, 25px 100%, 0px 50%);
}

.department .hex.gradient-bg {
  color: white;
}

.department .hex:before {
  position: absolute;
  content: '';
  height: calc(100% - 14px);
  /* 100% - 2 * border width */
  width: calc(100% - 14px);
  /* 100% - 2 * border width */
  left: 7px;
  /* border width */
  top: 7px;
  /* border width */
  -webkit-clip-path: polygon(22px 0px, calc(100% - 22px) 0px, 100% 50%, calc(100% - 22px) 100%, 22px 100%, 0px 50%);
  z-index: -1;
}

.department .hex.gradient-bg:before {
  background: linear-gradient(to right, rgb(199, 41, 41), rgb(243, 67, 54));
}

.department .hex.gradient-border:before {
  background: rgb(245, 246, 248);
}

.department .hex span {
  display: block;
  font-family: pattaya;
  padding-top: 70px;
  transform: translateY(-50%);
}

.modal .hex {
  position: relative;
  font-weight: bold;
  height: 70px;
  text-align: center;
  background: #411C3D;
  -webkit-clip-path: polygon(25px 0px, calc(100% - 25px) 0px, 100% 50%, calc(100% - 25px) 100%, 25px 100%, 0px 50%);
}

.modal .hex.gradient-bg {
  color: #411C3D;
}

.modal .hex:before {
  position: absolute;
  content: '';
  height: calc(100% - 14px);
  /* 100% - 2 * border width */
  width: calc(100% - 14px);
  /* 100% - 2 * border width */
  left: 7px;
  /* border width */
  top: 7px;
  /* border width */
  -webkit-clip-path: polygon(22px 0px, calc(100% - 22px) 0px, 100% 50%, calc(100% - 22px) 100%, 22px 100%, 0px 50%);
  z-index: -1;
}

.modal .hex.gradient-bg:before {
  background: linear-gradient(to right, rgb(199, 41, 41), rgb(243, 67, 54));
}

.modal .hex.gradient-border:before {
  background: #F2BF70;
}

.modal .hex span {
  display: block;
  font-family: pattaya;
  padding-top: 70px;
  transform: translateY(-50%);
}

@media only screen and (max-width: 991px) {
  /* MOBILE */
  .modal-body h1 {
    font-size: 36px;
    color: #2B0026;
    text-align: center;
    font-family: pattaya;
  }
  .modal-body .xcod h3 {
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #F2BF70;
    line-height: 0.1em;
    font-size: 24px;
    margin: 10px 0 20px;
  }
  .modal-body .xcod h3 span {
    background: #fff;
    padding: 0 10px;
    color: #2B0026;
    font-family: pattaya;
  }
  .modal-body .center-m p {
    color: #2B0026;
    font-size: 16px;
    line-height: 30px;
    font-family: serithai;
  }
}

@media only screen and (min-width: 992px) {
  /* PC */
  .modal-body h1 {
    font-size: 80px;
    color: #2B0026;
    text-align: center;
    font-family: pattaya;
  }
  .modal-body .xcod h3 {
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #F2BF70;
    line-height: 0.1em;
    font-size: 50px;
    margin: 10px 0 20px;
  }
  .modal-body .xcod h3 span {
    background: #fff;
    padding: 0 30px;
    color: #2B0026;
    font-family: pattaya;
  }
  .modal-body .center-m p {
    color: #2B0026;
    font-family: serithai;
    font-size: 22px;
    line-height: 40px;
  }
}

.mr-top {
  margin-top: 30px;
}

.main1 .container .col.m .row .col-lg-6 {
  display: none;
}

.main1 .container .col.m .row .col-lg-6:nth-child(1) {
  display: block;
}

.main1 .container .col.m .row .col-lg-6:nth-child(2) {
  display: block;
}

.main1 .container .col.m .row .col-lg-6:nth-child(3) {
  display: block;
}

.main1 .container .col.m .row .col-lg-6:nth-child(4) {
  display: block;
}

.text-num span {
  font-size: 13px;
  width: 22px;
  height: 22px;
  padding-left: 6px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #2B0026;
  color: #2B0026;
  position: absolute;
  top: 0;
  left: 0;
}

.directory_south.text-num span {
  margin-top: 27%;
  margin-left: 27%;
}

.directory_center.text-num span:nth-child(1) {
  margin-top: 38%;
  margin-left: 47%;
}

.directory_center.text-num span:nth-child(2) {
  margin-top: 36%;
  margin-left: 43%;
}

.directory_center.text-num span:nth-child(3) {
  margin-top: 33%;
  margin-left: 48%;
}

.directory_center.text-num span:nth-child(4) {
  margin-top: 23%;
  margin-left: 35%;
}

.directory_center.text-num span:nth-child(5) {
  margin-top: 43%;
  margin-left: 27%;
}

.directory_center.text-num span:nth-child(6) {
  margin-top: 11%;
  margin-left: 35%;
  ;
}

.directory_center.text-num span:nth-child(7) {
  margin-top: 48%;
  margin-left: 60%;
}

.directory_north.text-num span:nth-child(1) {
  margin-top: 60%;
  margin-left: 31%;
}

.directory_north.text-num span:nth-child(2) {
  margin-top: 8%;
  margin-left: 36%;
  ;
}

.directory_north.text-num span:nth-child(3) {
  margin-top: 23%;
  margin-left: 20%;
}

.directory_north.text-num span:nth-child(4) {
  margin-top: 68%;
  margin-left: 41%;
}

.directory_north.text-num span:nth-child(5) {
  margin-top: 60%;
  margin-left: 42%;
}

.directory_north.text-num span:nth-child(6) {
  margin-top: 32%;
  margin-left: 39%;
}

.directory_north.text-num span:nth-child(7) {
  margin-top: 30%;
  margin-left: 23%;
}

.directory_north.text-num span:nth-child(8) {
  margin-top: 23%;
  margin-left: 49%;
}

.directory_north.text-num span:nth-child(9) {
  margin-top: 45%;
  margin-left: 33%;
}

.directory_north.text-num span:nth-child(10) {
  margin-top: 39%;
  margin-left: 44%;
  padding-left: 3px;
}

.directory_north.text-num span:nth-child(11) {
  margin-top: 73%;
  margin-left: 30%;
  padding-left: 3px;
}

.directory_north.text-num span:nth-child(12) {
  margin-top: 50%;
  margin-left: 22%;
  padding-left: 3px;
}

.directory_northeast.text-num span:nth-child(1) {
  margin-top: 42%;
  margin-left: 61%;
}

.directory_northeast.text-num span:nth-child(2) {
  margin-top: 44%;
  margin-left: 43%;
}

.directory_northeast.text-num span:nth-child(3) {
  margin-top: 54%;
  margin-left: 26%;
}

.directory_northeast.text-num span:nth-child(4) {
  margin-top: 28%;
  margin-left: 81%;
}

.directory_northeast.text-num span:nth-child(5) {
  margin-top: 76%;
  margin-left: 30%;
}

.directory_northeast.text-num span:nth-child(6) {
  margin-top: 10%;
  margin-left: 63%;
}

.directory_northeast.text-num span:nth-child(7) {
  margin-top: 80%;
  margin-left: 48%;
}

.directory_northeast.text-num span:nth-child(8) {
  margin-top: 54%;
  margin-left: 53%;
}

.directory_northeast.text-num span:nth-child(9) {
  margin-top: 57%;
  margin-left: 75%;
}

.directory_northeast.text-num span:nth-child(10) {
  margin-top: 57%;
  margin-left: 64%;
  padding-left: 3px;
}

.directory_northeast.text-num span:nth-child(11) {
  margin-top: 28%;
  margin-left: 23%;
  padding-left: 3px;
}

.directory_northeast.text-num span:nth-child(12) {
  margin-top: 79%;
  margin-left: 76%;
  padding-left: 3px;
}

.directory_northeast.text-num span:nth-child(13) {
  margin-top: 26%;
  margin-left: 65%;
  padding-left: 3px;
}

.directory_northeast.text-num span:nth-child(14) {
  margin-top: 78%;
  margin-left: 62%;
  padding-left: 3px;
}

.directory_northeast.text-num span:nth-child(15) {
  margin-top: 14%;
  margin-left: 53%;
  padding-left: 3px;
}

.directory_northeast.text-num span:nth-child(16) {
  margin-top: 31%;
  margin-left: 35%;
  padding-left: 3px;
}

.directory_northeast.text-num span:nth-child(17) {
  margin-top: 28%;
  margin-left: 47%;
  padding-left: 3px;
}

.directory_northeast.text-num span:nth-child(18) {
  margin-top: 72%;
  margin-left: 90%;
  padding-left: 3px;
}

/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active, .carousel-inner .active+.carousel-item, .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left), .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item, .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    transition: none;
    margin-right: initial;
  }
  .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left, .carousel-item-next.carousel-item-left+.carousel-item, .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item, .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right, .carousel-item-prev.carousel-item-right+.carousel-item, .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item, .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.mb-rad {
  position: absolute;
  background-color: transparent;
  top: 0;
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.pc-rad {
  position: absolute;
  background-color: transparent;
  top: 0;
  width: 150px;
  height: 100%;
  cursor: pointer;
}